<?xml version='1.1' encoding='UTF-8'?>
<gradingConf>
	<score>100</score>
	<checks>
		<!-- default for all static analysis results like checkstyle, pmd -->
		<id>default</id>
				<toCheck>true</toCheck>
				<kindOfGrading>absolute</kindOfGrading>
				<!-- weight positive or negative values allowed -->
				<weightError>-4</weightError>
				<weightHigh>-3</weightHigh>
				<weightNormal>-2</weightNormal>
				<weightLow>-1</weightLow>
	</checks>
	<checks>
		<id>pit</id>
				<toCheck>false</toCheck>
				<kindOfGrading>relative</kindOfGrading>
				<weightError>4</weightError>
				<weightHigh>3</weightHigh>
				<weightNormal>2</weightNormal>
				<weightLow>1</weightLow>
	</checks>
	<checks>
		<id>junit</id>
			<toCheck>true</toCheck>
			<kindOfGrading>relative</kindOfGrading>
			<weightError>4</weightError>
			<weightHigh>3</weightHigh>
			<weightNormal>2</weightNormal>
			<weightLow>1</weightLow>
	</checks>
</gradingConf>