<?xml version='1.1' encoding='UTF-8'?>
<configs plugin="code-quality@0.1.0-SNAPSHOT">

  <maxScore>100</maxScore>

  <!-- default for all static analysis results like checkstyle, pmd -->
  <defaultCheck>default</defaultCheck>
  <dtoCheck>true</dtoCheck>
  <dkindOfGrading>absolute</dkindOfGrading>
  <weightError>-4</weightError>
  <weightHigh>-3</weightHigh>
  <weightNormal>-2</weightNormal>
  <weightLow>-1</weightLow>

  <!-- PIT -->
  <pitCheck>PIT</pitCheck>
  <ptoCheck>false</ptoCheck>
  <pkindOfGrading>absolute</pkindOfGrading>
  <weightMutations>5</weightMutations>
  <weightUndetected>-2</weightUndetected>
  <weightPercentUndetected>1</weightPercentUndetected>

  <!--Code Coverage -->
  <cocoCheck>COCO</cocoCheck>
  <ctoCheck>false</ctoCheck>
  <ckindOfGrading>absolute</ckindOfGrading>
  <weightCovered>1</weightCovered>
  <weightMissed>-2</weightMissed>

  <!-- JUNIT -->
  <junitCheck>JUNIT</junitCheck>
  <jtoCheck>true</jtoCheck>
  <jkindOfGrading>absolute</jkindOfGrading>
  <weightSkipped>-1</weightSkipped>
  <weightFailures>-2</weightFailures>
  <totalTestsrun>0</totalTestsrun>
  <weightPassed>1</weightPassed>
</configs>