/* ------------------------------------------------------------------------------------------------------------------- */
/* Bootstrap Progress                                                                                                  */
/* ------------------------------------------------------------------------------------------------------------------- */

.progress-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.progress-bar.progress-bg-excellent {
    background-color: #A5D6A7;
    color: black;
}

.progress-bar.progress-bg-good {
    background-color: #FFF59D;
    color: black;
}

.progress-bar.progress-bg-failure {
    background-color: #EF9A9A;
    color: black;
}
